h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

.square {
  background: #404040;
  float: left;
  font-size: 52px;
  font-weight: bold;
  line-height: 62px;
  height: 62px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 62px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.gameInfo {
  width: 80%;
  margin: 5% 0% 0 10%;
}

.game {
  margin-left: 44%;
  margin-top: 5%;
}
