.navbar{
    border-bottom: 2px solid black;
}


.navLinks{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    background-color: #2f2626;
    padding: 25px 0;
}

.link{
    text-decoration: none;
    color: #5f4c4c;
    padding: 26px 48px;
    border-left: 2px solid black;
}

.borderRight{
    border-right: solid 2px black;
}

a.link{
    background-color: #2f2626;
}



a.link:hover{
    color: #c5aa6a;
}