.counterContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 0 10%;
}

img.imageContainer{
    max-width: 100%;
    max-height: auto;
    margin: 32px 0 8px 0;
    border-radius: 2%;
}

.countButton{
    color: #5f4c4c;
    background-color: #2f2626;
    margin-top: 4px;
    padding: 8px;
    width: 60%;
    border-radius: 2%;
    border: 1px black solid;
}

.countButton:hover{
    color: #c5aa6a;
}

