.container{
    text-align: center;
    color: #c5aa6a;
}

.counterContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 0 10%;
}

.pageIntro{
    margin: 24px 0;
}


.description{
    margin-top: 8px;
    padding: 0 33%;
}


.counter{
    margin-top: 48px;
}

img.imageContainer{
    max-width: 100%;
    max-height: auto;
    margin: 32px 0 8px 0;
    border-radius: 2%;
}

.countButton{
    color: #5f4c4c;
    background-color: #2f2626;
    margin-top: 4px;
    padding: 8px;
    width: 60%;
    border-radius: 2%;
}

.countButton:hover{
    color: #c5aa6a;
}

.br{
    max-width: 75%;
    max-height: 0;
    border-bottom: 2px solid black;
    margin-top: 8px;
    margin-left: 12.5%;
    opacity: 25%;
}